---
layout: default
---

<div class="home">

   <div class="content">
      <div class="container">
		<ul class="posts noList">
		  {% for post in site.posts %}
		    <li>
		      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
		      <p class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
		      <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
		    </li>
		  {% endfor %}
		</ul>

      </div>
   </div><!-- end .content -->
</div>
