---
layout: default
---

<div class="home">

   <div class="content">
   	  <div class="container">
      	{{ content }}
      </div>
      <br />
      <div class="container">
      	<h1>Latest Posts</h1>
		<ul class="posts noList">
		  {% for post in site.posts limit: 5 %}
		    <li>
		      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
		      <p class="post-meta">{{ post.category }} • Posted on {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
		      <p class="description">{{ post.excerpt }}</p>
		    </li>
		  {% endfor %}
		</ul>

      </div>
   </div><!-- end .content -->
</div>
